//import other scss files
// @import "./partials/another", "./partials/list", "./partials/nav", "./partials/partial", "./partials/utillities", "./partials/reset";

// $main-color: lightblue;
// $last-color: $text-color;
// $font-stack: Helvetica, sans-serif;
// $border-color: navy;
// $font-weight: (
//     "small":300,
//     "medium":500,
//     "large": 700,
// );

// Set default values for all properties
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Set the overall look and feel of the page
html,
body {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #dbdbdb;
    font-family: sans-serif;
}

// Define the header
header {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

// Define the navigation bar
.nav {
    ul {
        margin: 0;
    }

    li {
        display: inline;
    }

    a {
        display: inline-block;
        padding: 0.5em;
        color: white;
        text-decoration: none;
    }
}

// Define the main navigation bar
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.logo{
    display: inline-flex;
    position: relative;
    border-radius: 100%;
    top: 1.5em;
    
    // box-shadow: inset 0 0 3em #fff, inset 1em 0 2em #f0f, inset -1em 0 2em rgb(140, 0, 255), inset 1em 0 4em #f0f, inset -1em 0 4em rgb(174, 0, 255), 0 0 3em #fff, 0em 0 2em #f0f, 0em 0 2em rgb(162, 0, 255);
    //     transition: box-shadow 1s ease-out;
    
    //     &:hover {
    //         box-shadow: inset 0 0 10em #fff, inset 1em 0 5em #f0f, inset -1em 0 5em rgb(140, 0, 255), inset 1em 0 10em #f0f, inset -1em 0 10em rgb(174, 0, 255), 0 0 10em #fff, 0em 0 5em #f0f, 0em 0 5em rgb(162, 0, 255);
    //     }
}

.moon {
    display: inline-flex;
    position: relative;
    top: 0.45em;
    left: 0.5em;
}

// Define the hover state for the main navigation bar links
.main-nav li:hover {
    background-color: rgba(255, 255, 255, .3);
}

// Define the main header
.main-header {
    background: rgb(246, 135, 64);
    background: radial-gradient(circle, rgba(246, 135, 64, 1) 0%, rgba(179, 230, 242, 1) 80%, rgba(36, 68, 110, 1) 95%, rgba(26, 59, 102, 1) 100%);
    background-blend-mode: color;
    background-size: cover;
    padding-bottom: 12rem;
}

// Define the h1 tag
h1 {
    font-size: 2em;
}

// Define the ul list
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Define the li list item
li {
    display: inline-block;
    margin-right: 10px;
}

// Define the a tag
a {
    color: #fff;
    text-decoration: none;
}
p{
    margin-top: 1em;
    margin-bottom: 1em;
}

// Define the .name class
.name {
    text-align: center;
    width: 100%;
    margin-top: 2em;
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: rgb(212, 205, 205);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    margin-top: 1em;

}

// Define the footer
footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}

// This is the designs for the footer
.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
}
// this toggles the dark mode for the pages